/* GTWalsheimPro */

/* Regular */
@font-face {
  font-family: "GTWalsheimPro";
  src: url("/fonts/regular.ttf");
  font-weight: 400;
}

/* Medium */
@font-face {
  font-family: "GTWalsheimPro";
  src: url("/fonts/medium.ttf");
  font-weight: 500;
}

/* Bold */
@font-face {
  font-family: "GTWalsheimPro";
  src: url("/fonts/bold.ttf");
  font-weight: 700;
}

/* Overriding font's style */

@layer base {
}
